mj-section
    mj-column
        mj-text Ce message vous est adressé par Altares pour vous présenter les services de son client.
        mj-text Plus de détails sur l'envoi de cet email et nos engagements sont accessibles par ce lien.
        mj-text Si vous souhaitez stopper la réception des emails d'Altares pour ce client, suivez ce lien, 
        mj-text ou la réception de tous nos envois, suivez cet autre lien.

