mj-section(background-color="#ffffff" padding="20px 20px 0 20px")
    mj-column(width="25%" css-class="small")
        mj-image(padding="0" width="140px" src="https://i.ibb.co/9s1YnRn/logo4.jpg")
    mj-column(width="75%" background-color="#1189ff" )
        mj-image(padding="0" width="420px" src="https://i.ibb.co/KypPdsK/top2.jpg")
        mj-text(padding-top="20px" padding-bottom="0" padding-left="0" padding-right="0" align="center" font-family="'Roboto', Arial, Helvetica, sans-serif" font-size="20px" font-weight="400" line-height="22px" text-transform="uppercase" color="#001a70") tpe pme
        mj-text(padding-top="0" padding-bottom="28px" padding-left="0" padding-right="0" align="center" font-family="'Roboto', Arial, Helvetica, sans-serif" font-size="36px" font-weight="700" line-height="40px" color="#ffffff") Le saviez-vous ?
        mj-image(padding="0" width="420px" src="https://i.ibb.co/txCpxpm/bottom2.jpg")