mj-section(background-color="#ffffff" padding="20px")
    mj-column(vertical-align="bottom")
        mj-text(padding="24px 24px 15px 24px" align="center" font-family="'Roboto', Arial, Helvetica, sans-serif" font-size="16px" font-weight="400" line-height="20px" color="#333333") En tant qu'entreprise, vous pouvez bénéficier d'une prime #[a(style="font-family:'Roboto', Arial, Helvetica, sans-serif;font-size:22px;font-weight:700;line-height:26px;color:#1057c8;text-decoration:none" href="0" targe='_blank') jusqu'à 11 000 euros] pour l'installation de panneaux solaires dans votre entreprise#[sup(style="font-size:10px") (1)].
        mj-text(padding="0 24px 24px 24px" align="center" font-family="'Roboto', Arial, Helvetica, sans-serif" font-size="16px") Pouvez-vous en bénéficier ?
        mj-button(padding="0 24px" align="center" background-color="#001a70" inner-padding="16px 30px" border-radius="80px" font-family="'Roboto', Arial, Helvetica, sans-serif" font-size="16px" font-weight="700" line-height="20px" color="#ffffff") Je vérifie l'éligibilité de mon entreprise
        mj-spacer(height="35px")
        mj-image(padding="0" width="280px" src="https://i.ibb.co/9rQf064/banner3.jpg" alt="")
    mj-column(vertical-align="bottom")
        mj-image(padding="0" width="280px" src="https://i.ibb.co/Q6mv3hT/banner2.jpg" alt="")
mj-section(background-color="#ffffff" padding="0 20px 20px 20px" )
    mj-column
        mj-text(padding="0" font-size="11px" font-weight="400" line-height="15px" color="#666666") (1) Les installations solaires sont éligibles à une prime à l'investissement. Cette prime est fonction de la puissance de l'installation : puissance du générateur photovoltaïque ≤ 100 kWc.
