mj-section
    mj-column
        mj-text En tant qu'entreprise, vous pouvez bénéficier d'une prime jusqu'à 11 000 euros pour l'installation de panneaux solaires dans votre entreprise(1).
        mj-text Pouvez-vous en bénéficier ?
        mj-button Je vérifie l'éligibilité de mon entreprise
        mj-image(src="https://i.ibb.co/9rQf064/banner3.jpg")
    mj-column
        mj-image(src="https://i.ibb.co/Q6mv3hT/banner2.jpg")
mj-section
    mj-column
        mj-text (1) Les installations solaires sont éligibles à une prime à l'investissement. Cette prime est fonction de la puissance de l'installation : puissance du générateur photovoltaïque ≤ 100 kWc.
